out/SDBManager/Workflows/SDB_Check-A3B4185F-CA0C-F111-8406-7C1E5221414E.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cra40_sharedsharepointonline_86d04"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "4976af36-40a9-4993-bfd9-ae1ef05d4872"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Get_items": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c99c853d-b5c5-4ca2-bc1b-756ee547f5fa"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://unitaxgroup.sharepoint.com/sites/DemoSDB",
              "table": "3b1313f5-9f23-4364-af1d-91d1f7d62513",
              "$top": 1000
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Condition": {
              "actions": {
                "Update_item": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b048fab9-8667-42d5-98d0-b0de3bd193a9"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://unitaxgroup.sharepoint.com/sites/DemoSDB",
                      "table": "3b1313f5-9f23-4364-af1d-91d1f7d62513",
                      "id": "@items('Apply_to_each')?['ID']",
                      "item/Aktualit_x00e4_tbest_x00e4_tigt": true,
                      "item/Best_x00e4_tigtam": "@items('Apply_to_each')?['Revisiondatum']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "PatchItem"
                    },
                    "authentication": {
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                      "type": "Raw"
                    }
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Update_item_1": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "b81e4ef8-ca82-4173-9ce6-0f4f94433bad"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "dataset": "https://unitaxgroup.sharepoint.com/sites/DemoSDB",
                        "table": "3b1313f5-9f23-4364-af1d-91d1f7d62513",
                        "id": "@items('Apply_to_each')?['ID']",
                        "item/Aktualit_x00e4_tbest_x00e4_tigt": false,
                        "item/Best_x00e4_tigtam": "@items('Apply_to_each')?['Revisiondatum']"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                        "connectionName": "shared_sharepointonline",
                        "operationId": "PatchItem"
                      },
                      "authentication": {
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                        "type": "Raw"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@items('Apply_to_each')?['Revisiondatum']",
                      "@addDays(utcNow(), -730)"
                    ]
                  },
                  {
                    "not": {
                      "equals": [
                        "@items('Apply_to_each')?['Revisiondatum']",
                        "@null"
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "8e6dc78b-e131-49fd-8ef4-0ade2dd911ac"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "72e3f433-2bec-48cd-92f2-c03dbc151748"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}