out/SDBManager/Workflows/SDB_RevisionsdatumCheck_SDBFairMed-7D46AC95-CA0C-F111-8406-7C1E5221414E.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cra40_sharedsharepointonline_33860"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cra40_sharedoffice365_d4fde"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Month",
            "interval": 1,
            "timeZone": "W. Europe Standard Time",
            "startTime": "2025-09-29T12:50:00"
          },
          "evaluatedRecurrence": {
            "frequency": "Month",
            "interval": 1,
            "timeZone": "W. Europe Standard Time",
            "startTime": "2025-09-29T12:50:00"
          },
          "metadata": {
            "operationMetadataId": "bde616cd-9190-4e1f-ada2-2aecb04c7a8d"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "231183fa-06de-4f57-af32-208247bcfb4a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "materials",
                "type": "array"
              }
            ]
          }
        },
        "Get_items": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "96054265-8284-4653-ab7d-de72fc74274c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://unitaxgroup.sharepoint.com/sites/DemoSDB",
              "table": "6c53784a-3d95-425b-976a-66f7c5101655",
              "$top": 1000
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Condition": {
              "actions": {},
              "runAfter": {
                "empty_bestatigs": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Condition_4": {
                    "actions": {
                      "Condition_2": {
                        "actions": {
                          "Append_to_array_variable_1": {
                            "metadata": {
                              "operationMetadataId": "bc5008f3-3763-4ca5-87b9-20fbc7a6535d"
                            },
                            "type": "AppendToArrayVariable",
                            "inputs": {
                              "name": "materials",
                              "value": "@{items('Apply_to_each')?['field_1']}: @{items('Apply_to_each')?['field_2']} | Revisionsdatum: @{items('Apply_to_each')?['Revisionsdatum']}"
                            }
                          },
                          "Update_item_1": {
                            "runAfter": {
                              "Append_to_array_variable_1": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "39491630-7c00-405b-8b96-a0faaafbfbd1"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "dataset": "https://unitaxgroup.sharepoint.com/sites/DemoSDB",
                                "table": "6c53784a-3d95-425b-976a-66f7c5101655",
                                "id": "@items('Apply_to_each')?['ID']",
                                "item/Aktualit_x00e4_tbest_x00e4_tigt": false
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                "connectionName": "shared_sharepointonline",
                                "operationId": "PatchItem"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "else": {
                          "actions": {
                            "Condition_3": {
                              "actions": {
                                "Append_to_array_variable": {
                                  "metadata": {
                                    "operationMetadataId": "086f1be5-fa8c-43a6-a405-6902064cbc39"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "materials",
                                    "value": "@{items('Apply_to_each')?['field_1']}: @{items('Apply_to_each')?['field_2']} | Revisionsdatum: @{items('Apply_to_each')?['Revisionsdatum']}"
                                  }
                                },
                                "Update_item": {
                                  "runAfter": {
                                    "Append_to_array_variable": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "a52dc419-b5fb-496a-a32f-799e1791e7ca"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "parameters": {
                                      "dataset": "https://unitaxgroup.sharepoint.com/sites/DemoSDB",
                                      "table": "6c53784a-3d95-425b-976a-66f7c5101655",
                                      "id": "@items('Apply_to_each')?['ID']",
                                      "item/Aktualit_x00e4_tbest_x00e4_tigt": false
                                    },
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                      "connectionName": "shared_sharepointonline",
                                      "operationId": "PatchItem"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                }
                              },
                              "else": {
                                "actions": {}
                              },
                              "expression": {
                                "and": [
                                  {
                                    "less": [
                                      "@ticks(items('Apply_to_each')?['Best_x00e4_tigtam'])",
                                      "@ticks(addDays(utcNow(), -365))"
                                    ]
                                  }
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "29dd6fd2-d3d8-4d4a-a743-246238171f29"
                              },
                              "type": "If"
                            }
                          }
                        },
                        "expression": {
                          "and": [
                            {
                              "equals": [
                                "@string(empty(items('Apply_to_each')?['Best_x00e4_tigtam']))",
                                "@string(True)"
                              ]
                            }
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "6cf036d2-6f57-4717-a8f9-4284a62acff4"
                        },
                        "type": "If"
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "expression": {
                      "and": [
                        {
                          "less": [
                            "@ticks(items('Apply_to_each')?['Revisionsdatum'])",
                            "@ticks(addDays(utcNow(), -730))"
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "46431ffd-71bb-4c93-a564-92a3bd4ed75c"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@string(empty(items('Apply_to_each')?['Revisionsdatum']))",
                      "@string(True)"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "4019a88b-8efe-40b2-9a9e-5df6d8d542b3"
              },
              "type": "If"
            },
            "Compose_3": {
              "metadata": {
                "operationMetadataId": "71d5d5b1-d3dc-4307-8edf-61cda40b39b5"
              },
              "type": "Compose",
              "inputs": "@items('Apply_to_each')?['Revisiondatum']"
            },
            "Compose_4": {
              "runAfter": {
                "empty_Revisionsdatum": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e7a6c483-43d8-4c88-b699-b52171439d55"
              },
              "type": "Compose",
              "inputs": "@items('Apply_to_each')?['Best_x00e4_tigtam']"
            },
            "empty_Revisionsdatum": {
              "runAfter": {
                "Compose_3": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@string(empty(items('Apply_to_each')?['Revisiondatum']))"
            },
            "empty_bestatigs": {
              "runAfter": {
                "Compose_4": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@string(empty(items('Apply_to_each')?['Best_x00e4_tigtam']))"
            }
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "92b6e2c9-56e8-4b63-bbd5-fbb02e3e845c"
          },
          "type": "Foreach"
        },
        "Condition_1": {
          "actions": {},
          "runAfter": {
            "Compose_2": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_Items_in_Bullet_Points_Format": {
                "metadata": {
                  "operationMetadataId": "f2009cf0-2fb9-4754-afc0-7343135329db"
                },
                "type": "Compose",
                "inputs": "@concat('- ', join(variables('materials'), '<br>- '))"
              },
              "Extract_Customer_Name_from_List": {
                "runAfter": {
                  "Get_Items_in_Bullet_Points_Format": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "dbf49191-4791-4475-886b-0cb01f6a3aaa"
                },
                "type": "Select",
                "inputs": {
                  "from": "@outputs('Get_items')?['body/value']",
                  "select": {
                    "Customer Name": "@item()?['Title']"
                  }
                }
              },
              "Get_the_first_vale_": {
                "runAfter": {
                  "Extract_Customer_Name_from_List": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "b4f71932-e3f5-4165-a77e-0d4618d79ddd"
                },
                "type": "Compose",
                "inputs": "@first(body('Extract_Customer_Name_from_List'))?['Customer Name']"
              },
              "Send_an_email_(V2)": {
                "runAfter": {
                  "Get_the_first_vale_": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "2f70331d-1e81-40f4-83e3-f8dc3a29803a"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "emailMessage/To": "t.spitta@stridespharma.com",
                    "emailMessage/Subject": "Artikel überprüfen",
                    "emailMessage/Body": "<p class=\"editor-paragraph\">Sehr geehrtes Personal von Fair Med,<br>bitte bestätigen Sie uns für folgende Artikel die Aktualität des/ der vorhandenen Sicherheitsdatenblätter, oder stellen Sie uns ein neueres zur Verfügung:<br><br>@{outputs('Get_Items_in_Bullet_Points_Format')}<br></p><br><p class=\"editor-paragraph\">Sollten Sie Fragen bezüglich dieser E-Mail haben, kontaktieren Sie bitte: phillip.kobs@unitax-group.de</p><p class=\"editor-paragraph\"><br>Mit freundlichen Grüßen | Kind regards<br>Ihr Unitax Team</p><br><p class=\"editor-paragraph\">______________________________________________________________________________________________________________________________</p><br><p class=\"editor-paragraph\">Dear Fair Med Team,<br>for the following materials, please state that the safety data sheets are up to date or send us a new version:<br><br>@{outputs('Get_Items_in_Bullet_Points_Format')}<br><br><br>If you have any questions regarding this email, please contact: phillip.kobs@unitax-group.de<br><br>Mit freundlichen Grüßen | Kind regards<br>Ihr Unitax Team<br><br>********************************automated generated e-mail**********************************<br><br><br>An den Gehren 1 | 12529 Schönefeld | Germany<br>http://www.unitax-berlin.de<br>UNITAX-Pharmalogistik GmbH | Amtsgericht Cottbus HRB 11194 CB<br>Geschäftsführender Gesellschafter: André Michael Reich<br>Geschäftsführer: Grit Schmider, Bernd Schmider</p>",
                    "emailMessage/From": "cc-unitax@unitax-group.de",
                    "emailMessage/Importance": "Normal"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@length(variables('materials'))",
                  0
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "212aad93-10a2-4ed6-ad4a-3b44a81d27c3"
          },
          "type": "If"
        },
        "Compose_2": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fb57ef03-cd6e-43ca-96b1-49587adc2492"
          },
          "type": "Compose",
          "inputs": "@variables('materials')"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}